.notSelected {
    background-color: #F3F4F6;
}

.AlreadySelected {
    background-color: #E9D4FF;
    color: #9CA3AF;
}

.NewestSelected {
    background: linear-gradient(to bottom right, #931EFB, #2F5AFC);
    color: white;
}